body {
  font-family: "Roboto", sans-serif !important;
  background: #f1f4f5;
}

.chart {
  /* width: 80vw; */
  margin: 50px auto;
}

.tabulator-col-title {
  font-family: "Roboto", sans-serif !important;
}

.editable {
  background: RGBA(66, 202, 119, 0.2);
}
